<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://dawranliou.com/images/profile.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dawranliou.com">
    <meta property="og:description" content="Daw-Ran Liou's website">
    <meta property="og:title" content="Daw-Ran Liou's website">
    <meta property="og:image:alt" content="snapshot">
    <meta name="twitter:image" content="https://dawranliou.com/images/profile.jpg">
    <meta name="twitter:title" content="Daw-Ran Liou">
    <meta name="twitter:description" content="Daw-Ran Liou's website">
    <meta name="twitter:site" content="@dawranliou">
    <meta name="twitter:creator" content="@dawranliou">

    <title>Daw-Ran Liou<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= stylesheet_link_tag "tachyons.min" %>
    <%= stylesheet_link_tag "monokai" %>
    <%= stylesheet_link_tag "styles" %>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <div id="main" role="main" class="bg-black-90 light-gray">
      <%= yield %>
    </div>

    <%= partial "footer"%>
  </body>
</html>
