<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://www.gravatar.com/avatar/d15d860a0a35bbf129f38726281b9af8">
    <meta name="twitter:image" content="https://www.gravatar.com/avatar/d15d860a0a35bbf129f38726281b9af8">

    <title>Daw-Ran Liou<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= stylesheet_link_tag "tachyons.min" %>
    <%= stylesheet_link_tag "syntax" %>
    <%= stylesheet_link_tag "styles" %>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <div id="main" role="main" class="bg-black-90 light-gray">
      <%= yield %>
    </div>

    <%= partial "footer"%>
  </body>
</html>
