---
pageable: true
per_page: 10
---

<div class="pv4">
    <h1 class="f1 serif">Daw-Ran Liou</h1>
    <h2 class="f2 serif">Blog</h1>
</div>

<% page_articles.each_with_index do |article, i| %>
    <article class="pb4">
        <h2 class="f2 mb0"><%= link_to article.title, article %></h2>
        <p class="black-60 serif"><%= article.date.strftime('%Y %B %e') %></p>
        <%= article.summary(500)%>
        <%= link_to 'Read more…', article %>
    </article>
<% end %>

<% if paginate && num_pages > 1 %>
    <p>Page <%= page_number %> of <%= num_pages %></p>

    <% if prev_page %>
        <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p class="pb5 f3"><%= link_to 'Next page >>', next_page %></p>
  <% end %>
<% end %>
