---
pageable: true
per_page: 10
---

<div class="ph3 ph5-m ph7-l vh-25 vh-100-ns w-100 dt content-center">
    <div class="dtc v-mid">
        <h1 class="f3 f1-ns serif mv0 courier normal">Daw-Ran Liou</h1>
        <p class="f6 f5 serif mt0 courier fw1">Software Developer, Clojurist, Pythonista @ SF</p>
    </div>
</div>

<% page_articles.each_with_index do |article, i| %>
    <article class="ph3 ph5-m ph7-l pv4 bg-white black-80">
        <h2 class="f3 f2-ns mv0 sans-serif"><%= link_to article.title, article, :class => "black-90" %></h2>
        <p class="black-60 serif"><%= article.date.strftime('%Y %B %e') %></p>
        <div class="consolas">
            <%= article.summary(500)%>
        </div>
        <%= link_to 'Read more…', article %>
    </article>
<% end %>

<% if paginate %>
    <div class="ph3 ph5-m ph7-l bg-white black-80">
    <% if num_pages > 1 %>
            <p class="mv0 pt3">Page <%= page_number %> of <%= num_pages %></p>

            <% if prev_page %>
                <p><%= link_to 'Previous page', prev_page %></p>
            <% end %>
    <% end %>
    <% if next_page %>
        <p class="pb5 f3"><%= link_to 'Next page >>', next_page %></p>
    <% end %>
    </div>
<% end %>

